* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;

}

.heading {
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-weight: 500;
font-style: Medium;
font-size: 50px;
line-height: 100%;
letter-spacing: 0%;
margin: 100px 0 70px 120px;
}

.images {
max-width: 1512px;
display: grid;
grid-template-columns: repeat(4, 1fr); 
grid-template-rows: 1fr 1fr;
gap:20px;
margin: 0 120px 0 120px;
}
.images img{
width: 100%;
height: 200px;
object-fit: cover;
display: block;
}
/*aq iwyeba meore layout*/
.heading2 {
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-weight: 500;
font-style: Medium;
font-size: 50px;
line-height: 100%;
letter-spacing: 0%;
margin: 100px 0 70px 120px;
}


.images2 {
max-width: 1512px;
margin: 0 120px 100px 120px;
display: grid;
grid-template-columns: repeat(4, 1fr);
grid-auto-rows: 300px;
gap: 20px;

}
.images2 img{
width: 100%;
height:100%;
object-fit: cover;
display: block;
object-position: center;
}
.coffee {
    grid-column: 1/3;

}
.flowers {
    grid-area: 2/2/4/3;
}
.vase {
    grid-column: 3/5;
}
/*aq iwyeba mesame layout*/
.heading3 {
font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-weight: 200;
font-size: 50px;
line-height: 100%;
letter-spacing: 25%;
margin: 100px 0 70px 120px;
}
.layout3 {display: grid;
justify-content: center;
align-items: center;}
.images3 {
    display: grid;
    grid-template-columns: repeat(4,300px);
    grid-row: 1fr 1fr;
    gap:20px;
    
}
.images3 img {
    width:100%;
    height: 200px;
    box-shadow: 5px 4px 5px 0px #AC9D8D;
    object-fit: cover;
    object-position: center;
    
}

.coffee3 {
 box-shadow: 5px 4px 5px 0px #AC9D8D;
}
.bush3 {
    box-shadow: 5px 4px 5px 0px #556161;
}
.yellow {
    grid-column: 4/5;
    box-shadow: 5px 4px 5px 0px #D0E4EB;
}
.flowers3 {
    box-shadow: 5px 4px 5px 0px #949AB0;
    grid-area:2/2/3/3;
}
.sofa {
    box-shadow: 5px 4px 5px 0px #EAD7CB;
    grid-area: 2/3/4/4;

}

/*aq iwyeba me4 layout*/


.container {
display: grid;
grid-template-rows: repeat(4, 200px);
grid-template-columns: repeat(5, 300px);
max-width:1512px;
max-height: 982px;
margin: 60px 20px 70px -100px;
gap: 20px;
} 


.main-text, .sub-text {
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-weight: 100;
font-style: Thin;
font-size: 50px;
line-height: 100%;
letter-spacing: 20%;
background-color: none;
}

.container img{
width:300px;
    height: 200px;
    object-fit: cover;
     object-position: center;  
}

.line {
    grid-area: 1/4/-1/5;
    width: 1px;
    background-color: black;
    transform: translateX(-10px);
}
.coffee4 {
    
    grid-area: 1/4/2/5;
}
.bush4 {
    grid-area: 2/3/3/4;
}
.leavess {
    grid-area: 2/5/3/6;
}
.leaf4 {
    grid-area: 3/2/4/3;
}
.flowers4 {
    grid-area: 3/4/4/5;
}
.laptop4 {
    grid-area: 4/1/5/2;
}

.lamp4 {
grid-area: 4/3/5/4;
}
.vase4 {
grid-area: 4/5/5/6;
}

.main-text{
    grid-area:1/1/2/4 ;
    text-align: center;
    align-self: center;
    padding-right: 60px;

}

.sub-text{
    
    grid-area:2/1/3/3;
    text-align: center;
    align-self: center;
}
